@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?47706176");
  src: url("../fonts/fontello.eot?47706176#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?47706176") format("woff"), url("../fonts/fontello.ttf?47706176") format("truetype"), url("../fonts/fontello.svg?47706176#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_blblack';
  src: url("../fonts/proximanova-black-webfont.eot");
  src: url("../fonts/proximanova-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-black-webfont.woff") format("woff"), url("../fonts/proximanova-black-webfont.ttf") format("truetype"), url("../fonts/proximanova-black-webfont.svg#proxima_nova_blblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/proximanova-reg-webfont.eot");
  src: url("../fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-reg-webfont.woff") format("woff"), url("../fonts/proximanova-reg-webfont.ttf") format("truetype"), url("../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#proxima_novaregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
img {
  vertical-align: top;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  position: relative;
}

[class^="icon-"], [class*=" icon-"] {
  position: relative;
}

.icon-close:before {
  content: '\e804';
}

.icon-star-1:before {
  content: '\e805';
}

.icon-cancel:before {
  content: '\e807';
}

.icon-smile:before {
  content: '\e808';
}

.icon-facebook:before {
  content: '\e801';
}

.icon-twitter:before {
  content: '\e800';
}

.icon-star-filled:before {
  content: '\e806';
}

.icon-right-dir:before {
  content: '\e803';
}

.icon-vkontakte-rect:before {
  content: '\e802';
  position: relative;
  margin: -5px -4px;
}

html,
body {
  height: 100%;
}

q {
  quotes: none;
}

q:before {
  content: "";
}

q:after {
  content: "";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima_nova_rgbold", arial, sans-serif;
}

body {
  margin: 0;
  color: #4f4f4f;
  font: 12px/17px Arial, Helvetica, sans-serif;
  background: #f9f8f8;
}

img {
  border-style: none;
}

a {
  color: #d83b2a;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  outline: none;
}

input,
textarea,
select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
  display: block;
}

label,
input[type="submit"] {
  cursor: pointer;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

#wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.w1 {
  width: 1120px;
  margin: 0 auto;
  padding: 0 0 80px;
}

.twocolumns-holder.scroll-column {
  position: relative;
}

.small-width {
  display: none !important;
}

.ad-panel {
  margin: 0 -9999px;
  padding: 0 9999px;
  width: 100%;
  overflow: hidden;
  overflow: hidden;
  background: #75ab8b;
}
.ad-panel img {
  float: left;
  width: 100%;
}

.navigation-panel {
  height: 50px;
}
.navigation-panel .n-holder {
  margin: 0 -9999px;
  padding: 0 9999px;
  width: 100%;
  overflow: hidden;
  background: #161414;
  height: 50px;
}
.navigation-panel .n-frame {
  overflow: hidden;
  margin: 0 auto;
  width: 1120px;
}

#nav {
  font-size: 12px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
}
#nav ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav li {
  float: left;
  padding: 0 25px 0 0;
}
#nav a {
  color: white;
  float: left;
  border-top: 5px solid transparent;
}
#nav li.active a,
#nav a:hover {
  border-top-color: #d83b2a;
  text-decoration: none;
}

.enter-box {
  float: right;
}

.personal-ico {
  float: left;
  margin: 5px 0 0;
  display: none;
}
.personal-ico img {
  float: left;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}

.enter-box.select .btn-enter {
  display: none;
}

.enter-box.select .personal-ico {
  display: block;
}

.btn-enter {
  float: left;
  font-size: 12px;
  line-height: 32px;
  width: 78px;
  margin: 8px 0 0;
  text-align: center;
  border: 1px solid #d83b2a;
  text-transform: uppercase;
}

.social-panel {
  margin: 0 -9999px;
  padding: 0 9999px;
  width: 100%;
  overflow: hidden;
  background: #4f4f4f;
  margin-bottom: 40px;
}
.social-panel .social-content {
  overflow: hidden;
  margin: 8px 0 0;
}
.social-panel .social-content .icon-twitter {
  float: left;
  font-size: 27px;
  line-height: 20px;
  color: #33ccff;
  margin: -3px 0 0;
}
.social-panel .social-content .text {
  line-height: 20px;
  padding: 3px 0 0 14px;
  display: block;
  overflow: hidden;
  color: #dadada;
  height: 21px;
}
.social-panel .social-content .text a {
  color: #dadada;
}

.social {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font: 22px/40px "fontello", arial, sans-serif;
}
.social li {
  float: left;
  background: #3b5998;
}
.social li.ico-vk {
  background: #597da3;
}
.social li.ico-vk .icon-vkontakte-rect {
  color: #597da3;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  font-size: 35px;
}
.social a {
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  color: white;
}

#main {
  overflow: hidden;
}

#sidebar {
  float: right;
  width: 200px;
}
#sidebar .ad {
  padding: 0 0 40px;
}
#sidebar .ad img {
  vertical-align: top;
}

.social-tab {
  margin: 0 0 40px;
}
.social-tab .tab-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font: 15px/50px "proxima_nova_rgbold", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}
.social-tab .tab-nav li {
  float: left;
  width: 70%;
}
.social-tab .tab-nav li + li {
  width: 30%;
}
.social-tab .tab-nav a {
  color: white;
  display: block;
  background: #597da3;
}
.social-tab .tab-nav li.active a,
.social-tab .tab-nav a:hover {
  background: #3b5998;
  text-decoration: none;
}
.social-tab .tab-content {
  border: solid #3b5998;
  border-width: 0 2px 2px;
  padding: 20px 10px;
  background: white;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.facebook-box {
  overflow: hidden;
}
.facebook-box img {
  float: left;
}

.box.chronicle-box.side-chronicle {
  width: 160px;
}
.box.chronicle-box.side-chronicle .title-text {
  margin: 0 0 20px;
}
.box.chronicle-box.side-chronicle .btn-play i {
  font-size: 55px;
  line-height: 60px;
  margin: -25px 0 0 -27px;
}

.box.chronicle-box.side-chronicle .chronicle-list {
  width: 100%;
  margin: 0;
}
.box.chronicle-box.side-chronicle .chronicle-list > li {
  width: 100%;
  margin: 0 0 30px;
}

.gallery1 .gmask {
  margin: 0;
  padding: 0 0 5px;
  list-style: none;
  position: relative;
  overflow: hidden;
}
.gallery1 .gmask > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  display: none;
  z-index: 2;
}
.gallery1 .gmask > li.active {
  display: block;
  position: relative;
  z-index: 4;
}
.gallery1 .pagination {
  float: right;
}

#content .ad {
  overflow: hidden;
}
#content .ad img {
  float: left;
}

#content .ad.left {
  float: left;
}

.header-box {
  overflow: hidden;
  padding: 0 0 30px;
}

.header-box.padding1 {
  padding-bottom: 83px;
}

.logo {
  background: url("../images/logo.png") no-repeat;
  width: 167px;
  height: 125px;
  text-indent: -9999px;
  overflow: hidden;
  margin: 4px 73px 0 0;
  float: left;
}
.logo a {
  display: block;
  height: 100%;
}

.gallery {
  overflow: hidden;
  line-height: 15px;
  position: relative;
}
.gallery .gmask {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.gallery .gmask li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: none;
  overflow: hidden;
}
.gallery .gmask li.active {
  display: block;
  position: relative;
}
.gallery .gmask img {
  float: left;
  margin: 0 29px 0 0;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  -ms-border-radius: 65px;
  border-radius: 65px;
  position: relative;
}
.gallery .gmask .description {
  overflow: hidden;
  color: #868585;
  padding: 6px 0 15px;
  height: 79px;
}
.gallery .gmask h2 {
  color: black;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 0 6px;
}
.gallery .gmask p {
  margin: 0;
}
.gallery .pagination {
  position: absolute;
  left: 160px;
  bottom: 4px;
}

.pagination {
  position: relative;
  z-index: 50;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination li {
  float: left;
  margin: 0 10px 0 0;
}
.pagination a {
  float: left;
  width: 10px;
  height: 10px;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  background: black;
}
.pagination li.active a,
.pagination a:hover {
  background: #d83b2a;
}

.twocolumns .col1 {
  float: left;
  width: 320px;
}

.twocolumns:after {
  content: '';
  clear: both;
  display: block;
}

.box {
  background: #e9e9e9;
  padding: 28px 20px 30px;
  color: #1e1e1e;
  float: left;
  margin: 0 0 40px;
}
.box .p-holder {
  overflow: hidden;
}
.box .p-holder.margin-l-40 {
  margin-left: -40px;
  padding-left: 40px;
}
.box.chronicle-box {
  width: 640px;
}
.box.bill-box {
  width: 278px;
}
.box.bill-box .title-text {
  margin-bottom: 28px;
}
.box.music-box {
  width: 320px;
  padding: 28px 20px 62px;
}
.box.music-box.side-music {
  width: auto;
}
.box a {
  color: #1e1e1e;
}
.box.style-box {
  padding: 0 0 22px;
}
.box.style-box .photo {
  margin: 0 0 30px;
}
.box.style-box .photo img {
  display: block;
  width: 100%;
}
.box.style-box .content {
  padding: 0 20px;
}
.box.style-box .title-text {
  margin: 0 0 14px;
}
.box.style-box h3 {
  font-size: 14px;
  line-height: 20px;
  color: #d83b2a;
  margin: 0;
  text-transform: uppercase;
}
.box.alignleft.poster-box {
  margin: 0 0 40px 34px;
  padding: 0;
}
.box.poster-box {
  padding: 0 0 21px;
  width: 480px;
}
.box.poster-box .photo {
  margin: 0 0 27px;
}
.box.poster-box .photo img {
  display: block;
  width: 100%;
}
.box.poster-box .content {
  padding: 0 20px;
}
.box.poster-box .title-text {
  float: left;
  width: 140px;
  margin-top: 29px;
}
.box.poster-box .p-holder {
  overflow: hidden;
}
.box.poster-box .title-closer {
  float: left;
  width: 126px;
  height: 30px;
  background: url("../images/text-closer.png") no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0;
}
.box.poster-box .description {
  overflow: hidden;
  line-height: 14px;
  padding-top: 28px;
}
.box.poster-box .title-name {
  overflow: hidden;
  margin: 0;
}
.box.poster-box .title-name dt {
  float: left;
}
.box.poster-box .title-name dd {
  float: left;
  margin: 0 0 0 3px;
}
.box.poster-box address {
  margin: 0;
  font-style: normal;
}
.box.publication-box {
  width: 660px;
  padding: 30px;
  margin-right: -20px;
  padding-bottom: 0;
}
.box.publication-box.publication-width1 {
  width: 1060px;
}
.box.poster-box.slide-poster {
  width: 200px;
  padding: 0 0 70px;
}
.box.poster-box.slide-poster .title-text {
  float: none;
  width: auto;
  margin: 0 0 20px;
}
.box.poster-box.slide-poster .title-closer {
  float: none;
  margin: 0 0 15px;
}
.box.engineering-box {
  font-size: 12px;
  line-height: 14px;
  width: 140px;
}
.box.event-box1 {
  padding: 39px 40px 137px;
  margin: 0;
}
.box.publication-box .title-text {
  margin-bottom: 26px;
}

.box.alignleft,
.ad.alignleft {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 40px 40px;
  float: none;
}

.title-text {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 38px;
  color: #161414;
}
.title-text a {
  color: #161414;
}
.title-text i {
  color: #d83b2a;
}

.chronicle-list {
  margin: 0 0 -30px;
  padding: 0;
  list-style: none;
  position: relative;
  width: 110%;
}
.chronicle-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 17px 35px 0;
  width: 200px;
}
.chronicle-list .photo {
  position: relative;
  margin: 0 0 9px;
}
.chronicle-list .photo img {
  vertical-align: top;
}
.chronicle-list p {
  margin: 0;
}

.btn-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.btn-play i {
  font-size: 80px;
  line-height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
  margin: -40px 0 0 -40px;
  color: white;
}

.time {
  display: block;
  margin: 0 0 3px;
  font-size: 13px;
  line-height: 16px;
}
.time strong {
  font-weight: bold;
}
.time mark {
  color: #d83b2a;
  background: none;
}
.time.size1 {
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 17px;
}
.time.size2 {
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}
.time.size2 mark,
.time.size2 strong {
  font-size: 30px;
}
.time.size3 {
  font: 14px/16px Arial, Helvetica, sans-serif;
  margin: 0;
}
.time.position {
  position: absolute;
  left: 0;
  top: -40px;
}

.ad.margin-b {
  margin: 0 0 40px;
}

.bll-list {
  margin: 0 0 -50px;
  position: relative;
  padding: 0;
  list-style: none;
  color: #282828;
  line-height: 16px;
}
.bll-list .new-event {
  font-size: 12px;
  line-height: 16px;
  color: #d83b2a;
}
.bll-list .b-hidden {
  display: none;
}
.bll-list li {
  margin: 0 0 40px;
  overflow: hidden;
}
.bll-list .photo {
  float: left;
  margin: 0 20px 0 0;
}
.bll-list .photo img {
  float: left;
}
.bll-list .description {
  overflow: hidden;
  position: relative;
}
.bll-list .title {
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 16px;
}
.bll-list p {
  margin: 0;
}

.box.event-box {
  margin: 0 0 0 -1px;
}

.box.event-box.padding-top1 {
  padding-top: 70px;
  position: relative;
}

.box.event-box.padding-top1:after {
  content: '';
  position: absolute;
  height: 70px;
  width: 2px;
  top: 0;
  left: -2px;
  background: #e9e9e9;
}

.event-box {
  width: 200px;
  position: relative;
  padding: 0 0 40px;
}
.event-box .photo {
  margin: 0 0 17px;
}
.event-box .photo img {
  vertical-align: top;
}
.event-box .content {
  padding: 0 25px 0 40px;
  height: 273px;
  overflow: hidden;
}
.event-box h2 {
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #d83b2a;
  margin: 0;
}
.event-box .date {
  display: block;
  text-transform: uppercase;
  color: #ababab;
  margin: 0 0 18px;
}
.event-box .time {
  margin: 0;
}
.event-box .title {
  display: block;
  margin: 0 0 13px;
}
.event-box p {
  margin: 0;
}

.event-box.width1 {
  float: left;
  width: 279px;
  margin-left: -30px;
  margin-right: -39px;
  line-height: 16px;
  padding-bottom: 60px;
}
.event-box.width1 h2 {
  margin: 0 0 11px;
}
.event-box.width1 p {
  margin: 0 0 21px;
}

.music-list {
  margin: 0 0 -42px;
  padding: 0;
  list-style: none;
  position: relative;
  width: 113%;
}
.music-list > li {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 0 37px 38px 0;
}
.music-list .photo {
  margin: 0 0 13px;
}
.music-list h3 {
  font-size: 12px;
  line-height: 14px;
  font: bold 12px/14px Arial, Helvetica, sans-serif;
  margin: 0;
}
.music-list h3 a {
  color: #282828;
}
.music-list p {
  margin: 0 0 4px;
}
.music-list.alt-padding1 {
  padding-top: 29px;
  padding-bottom: 18px;
}
.music-list.alt-padding1 .photo {
  margin: 0 0 7px;
}
.music-list.alt-padding1 .time {
  margin: 0;
}
.music-list.alt-padding1 li {
  margin-bottom: 25px;
}
.music-list.alt-space1 {
  margin-right: -15px;
  width: 855px;
}
.music-list.alt-space1 > li {
  margin: 0 28px 33px 0;
}

.star {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 13px;
  line-height: 14px;
  color: #959595;
}
.star.size1 {
  font-size: 16px;
  line-height: 16px;
}
.star li {
  float: left;
  margin: 0 2px 0 0;
}
.star li.full {
  color: #d83b2a;
}

.twocolumns-holder {
  overflow: hidden;
}
.twocolumns-holder.fixed-width {
  width: 880px;
  padding: 30px 0 46px;
}

.publication-list {
  float: left;
  width: 349px;
  margin: -40px 0 0 39px;
  padding: 0 0 30px 41px;
  position: relative;
  list-style: none;
  line-height: 16px;
  position: relative;
}
.publication-list:after {
  content: '';
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: -2px;
  background: #f9f8f8;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
.publication-list .time {
  margin: 0 0 -4px;
  position: relative;
}
.publication-list li {
  overflow: hidden;
  padding: 40px 0 2px;
}
.publication-list img {
  float: left;
  margin: 0 20px 0 0;
}
.publication-list .description {
  overflow: hidden;
  padding: 0 0 3px;
}
.publication-list h2 {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: -2px 0 17px;
  position: relative;
}
.publication-list h2.size1 {
  font-size: 20px;
  line-height: 25px;
}
.publication-list h2.size1 a {
  color: #d83b2a;
}
.publication-list p {
  margin: 0 0 19px;
}
.publication-list.block-list {
  width: 800px;
  margin-right: -50px;
  margin-top: -40px;
  position: relative;
}
.publication-list.block-list li {
  display: inline-block;
  vertical-align: top;
  width: 370px;
  padding: 40px 20px 0 0;
}

.post {
  float: left;
  width: 480px;
  color: black;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
}
.post.size1 {
  width: 640px;
}
.post h1 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 21px;
}
.post .photo {
  margin: 0 0 30px;
}
.post .photo img {
  vertical-align: top;
}
.post .content p {
  margin: 0 0 20px;
}
.post .content.padding1 {
  padding-bottom: 17px;
}
.post mark {
  background: none;
  color: #d83b2a;
}
.post .date-heading {
  margin: 0 0 25px;
}
.post .rating-holder {
  overflow: hidden;
  padding: 0 0 30px;
}
.post .rating-holder .r-heading {
  float: left;
}
.post .rating-holder img {
  float: left;
}
.post .rating-star {
  float: right;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
.post .rating-star dt {
  float: left;
  padding: 2px 0 0;
}
.post .rating-star dd {
  float: left;
  margin: 0 0 0 20px;
}

.star.big-star {
  float: left;
  font-size: 15px;
  line-height: 16px;
}
.star.big-star li {
  margin: 0;
}
.star.big-star li + li {
  margin: 0 0 0 4px;
}

.social-holder {
  overflow: hidden;
  padding: 0 0 36px;
}

.ico-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  color: #51c07e;
  font-size: 16px;
  line-height: 22px;
}
.ico-list li {
  float: left;
  padding: 0 0 0 12px;
}
.ico-list .ico-circle,
.ico-list .ico-quadrangle {
  float: left;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden;
  border: 2px solid #51c07e;
  margin: 0 8px 0 0;
  position: relative;
}
.ico-list .ico-circle {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
.ico-list .ico-circle:after {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  content: '';
  width: 4px;
  height: 4px;
  background: #51c07e;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -2px;
}

.social-network {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-network li {
  float: left;
  padding: 0 28px 0 0;
}
.social-network li img {
  float: left;
}

.tracklist-box {
  margin: 0 0 25px;
}
.tracklist-box .title {
  display: block;
}
.tracklist-box .tracklist {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.music-player-box {
  padding: 0 0 35px;
  overflow: hidden;
}
.music-player-box img {
  float: left;
}

.personal-box {
  overflow: hidden;
  background: #e9e9e9;
  padding: 20px 57px 22px 23px;
  font-size: 12px;
  line-height: 16px;
  color: #1e1e1e;
  margin: 0 0 20px;
}
.personal-box img {
  float: left;
  margin: 0 20px 0 0;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  border-radius: 45px;
  position: relative;
}
.personal-box .description {
  overflow: hidden;
}
.personal-box .profession {
  display: block;
  color: #8b8b8b;
  margin: 0 0 3px;
  font-size: 12px;
  line-height: 14px;
}
.personal-box h3 {
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 13px;
}
.personal-box p {
  margin: 0;
}

.some-title {
  font-size: 11px;
  line-height: 20px;
  color: #8b8b8b;
  text-transform: uppercase;
  margin: 0 0 25px;
  letter-spacing: 0.1em;
}

.date-box {
  overflow: hidden;
  padding: 0 0 32px;
}
.date-box .date {
  font-size: 13px;
  line-height: 20px;
  color: #6e6e6e;
  float: left;
}
.date-box .social-network {
  float: right;
  padding: 0;
}
.date-box .social-network li {
  padding: 0 0 0 28px;
}

.comment-box {
  position: relative;
  margin: 0 0 40px;
  background: #cccccc;
}
.comment-box img {
  display: block;
}
.comment-box .arrow {
  content: " ";
  position: absolute;
  top: -30px;
  left: 55px;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border: 15px solid transparent;
  border-bottom: 15px solid #cccccc;
  margin: 0 0 0 -30px;
}
.comment-box .c-content {
  padding: 30px 20px 10px;
}

.comment-container {
  padding: 0 0 40px;
}

.comment-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comment-list li {
  overflow: hidden;
  padding: 0 0 15px;
}
.comment-list img {
  float: left;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  position: relative;
  margin: 0 20px 0 0;
}
.comment-list .description {
  overflow: hidden;
}
.comment-list .time {
  margin: 0 0 5px;
}
.comment-list p {
  margin: 0;
}

.comment-form {
  overflow: hidden;
}
.comment-form img {
  float: left;
  margin: 0 20px 0 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  position: relative;
}
.comment-form .description {
  overflow: hidden;
}
.comment-form .row {
  overflow: hidden;
  padding: 0 0 10px;
}
.comment-form .textarea {
  padding: 10px;
  border: none;
  background: white;
  overflow: hidden;
}
.comment-form .textarea textarea {
  float: left;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  width: 100% !important;
  height: 100px;
  min-height: 100px;
}

.music-holder {
  display: inline-block;
  width: 360px;
  margin: 0 0 40px 40px;
}
.music-holder.width1 {
  width: 200px;
  overflow: hidden;
}
.music-holder.width1 .box {
  margin: 0 0 20px;
}
.music-holder.width1.margin-bottom1 {
  margin-bottom: 20px;
}

.music-holder .box.music-box {
  margin: 0 0 19px;
}

.music-holder .box.music-box.no-margin {
  margin: 0;
}

.btn {
  font-size: 14px;
  line-height: 16px;
  font-family: "proxima_nova_rgregular", arial, sans-serif;
  padding: 17px 0;
  margin: 0;
  display: block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: black;
  clear: both;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn:hover {
  text-decoration: underline;
}
.btn.size1 {
  font-size: 12px;
  line-height: 16px;
  padding: 28px 20px;
}
.btn.alignright.size2, .btn.size2 {
  font-size: 10px;
  line-height: 30px;
  padding: 0 17px;
}
.btn.size4 {
  font-size: 12px;
  line-height: 40px;
  padding: 0 17px;
}
.btn.color1 {
  background: #d83b2a;
  color: white;
}

.btn input {
  position: absolute;
  width: 600px;
  height: 600px;
  padding: 0 0 50px;
  bottom: 0;
  left: 0;
  background: url(../images/none.gif);
  border: none;
  cursor: pointer;
}

.btn.alignright,
.btn.alignleft {
  float: left;
  font-size: 12px;
  line-height: 40px;
  padding: 0 27px;
  clear: none;
}

.btn.alignright {
  float: right;
}

.engineering-list {
  margin: 0 0 -27px;
  padding: 0;
  list-style: none;
  position: relative;
  color: #282828;
}
.engineering-list li {
  padding: 0 0 24px;
}
.engineering-list .photo {
  margin: 0 0 5px;
}
.engineering-list .photo img {
  vertical-align: top;
}
.engineering-list .title {
  display: block;
}
.engineering-list h3 {
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 3px;
}

.change-box {
  padding: 0 0 30px;
  overflow: hidden;
  position: relative;
}

.personal-photo {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}
.personal-photo .close {
  font-size: 25px;
  line-height: 25px;
  color: black;
  position: absolute;
  top: -3px;
  right: 2px;
  z-index: 5;
}
.personal-photo .p-content {
  width: 160px;
  height: 160px;
  overflow: hidden;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  border-radius: 80px;
  position: relative;
}
.personal-photo .p-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.personal-photo .p-frame {
  display: table-cell;
  vertical-align: middle;
}
.personal-photo img {
  width: 100%;
}

.registration-form {
  float: right;
  width: 520px;
  color: black;
}
.registration-form select {
  float: left;
  width: 80px;
}
.registration-form .row {
  overflow: hidden;
  padding: 0 0 20px;
}
.registration-form .text {
  font-size: 12px;
  line-height: 40px;
  float: left;
  text-transform: uppercase;
}
.registration-form .area {
  float: right;
}
.registration-form input[type="password"],
.registration-form input[type="text"] {
  float: left;
  width: 308px;
  height: 38px;
  padding: 0 20px;
  margin: 0;
  font: 18px/38px Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  border: 1px solid black;
}
.registration-form input[type="text"].size1 {
  width: 398px;
}
.registration-form input[type="text"].size2 {
  width: 198px;
  margin: 0 0 0 20px;
}
.registration-form .column2 select {
  float: left;
  width: 90px;
}
.registration-form .note {
  margin: 0 0 27px;
}
.registration-form .row-btn {
  overflow: hidden;
  padding: 50px 0 0;
}
.registration-form .cancel-link {
  font-size: 12px;
  float: right;
  line-height: 40px;
  color: black;
}

.photo-gallery {
  margin: 0 0 -6px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
  width: 704px;
}
.photo-gallery li {
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
}
.photo-gallery img {
  float: left;
}
.photo-gallery .ico {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  background: #d83b2a;
  color: black;
  text-align: center;
}
.photo-gallery .ico i {
  color: black;
  top: 1px;
}

.report-list {
  margin: 0;
  padding: 30px 0 163px;
  list-style: none;
}
.report-list .photo {
  padding: 0 0 8px;
}
.report-list .photo img {
  display: block;
  margin: 0 auto;
}
.report-list p {
  margin: 0;
}
.report-list h3 {
  font: bold 12px/16px Arial, Helvetica, sans-serif;
  margin: 0;
}
.report-list li {
  padding: 0 0 18px;
}

.report-list.no-padding {
  padding: 0;
}

.gallery2 {
  position: relative;
  margin: 0 0 45px;
}
.gallery2 .gmask {
  padding: 0 0 35px;
}
.gallery2 .gmask img {
  display: block;
  width: 100%;
}
.gallery2 .pagination-box {
  position: absolute;
  z-index: 10;
  bottom: 37px;
  left: 50%;
  margin: 0 0 0 -100px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  line-height: 32px;
}
.gallery2 .pagination-box .separator {
  display: inline-block;
  color: #d83b2a;
  margin: 0 8px;
}
.gallery2 .pagination-box .btn-next,
.gallery2 .pagination-box .btn-prev {
  float: left;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border: 20px solid transparent;
  border-right: 20px solid #fff;
  margin: -4px 0 0;
  position: relative;
  text-indent: -9999px;
  overflow: hidden;
}
.gallery2 .pagination-box .btn-next {
  float: right;
  border-right: none;
  border-left: 20px solid #fff;
}

.photo-action {
  overflow: hidden;
  padding: 0 0 0 40px;
}
.photo-action .personal-action {
  float: left;
  width: 180px;
  color: #d83b2a;
}
.photo-action .personal-action .description {
  overflow: hidden;
}
.photo-action .personal-action a {
  color: #d83b2a;
}
.photo-action .personal-action .names {
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 6px;
}
.photo-action .personal-action p {
  margin: 0;
}
.photo-action .ico {
  float: left;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 19px 0 0;
  background: #d83b2a;
}
.photo-action .ico i {
  color: black;
  top: 1px;
}

.personal-info {
  overflow: hidden;
  padding: 0 20px 0 40px;
}
.personal-info .col1 {
  float: left;
  width: 600px;
}
.personal-info .ad-col {
  float: right;
}
.personal-info .ad-col img {
  float: left;
}
.personal-info .social-holder {
  padding: 0 0 60px;
}
.personal-info .title {
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 22px;
}

.box.fresh-chronicle {
  width: 840px;
  overflow: hidden;
}

.fresh-chronicle-col {
  float: left;
  width: 640px;
}
.fresh-chronicle-col .heading {
  overflow: hidden;
  padding: 0 0 20px;
}
.fresh-chronicle-col .heading h2 {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  float: left;
  margin: 0;
}
.fresh-chronicle-col .heading select {
  float: right;
}

.gallery3 {
  position: relative;
}
.gallery3 .gmask {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.gallery3 .gmask li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}
.gallery3 .gmask li.active {
  z-index: 3;
  display: block;
  position: relative;
}
.gallery3 .gmask .photo {
  margin: 0 0 18px;
  overflow: hidden;
}
.gallery3 .gmask .photo img {
  display: block;
}
.gallery3 .gmask .time {
  font-size: 16px;
  line-height: 32px;
}
.gallery3 .gmask .time mark,
.gallery3 .gmask .time strong {
  font-size: 30px;
}
.gallery3 .pagination {
  position: absolute;
  bottom: 14px;
  right: -10px;
}
.gallery3 .pagination li a {
  width: 14px;
  height: 14px;
}

.video-list1 {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  width: 160px;
}
.video-list1 li + li {
  padding: 29px 0 0;
}
.video-list1 .photo {
  margin: 0 0 8px;
  position: relative;
}
.video-list1 .photo img {
  vertical-align: top;
}
.video-list1 p {
  margin: 0;
}
.video-list1 h3 {
  font: bold 12px/16px Arial, Helvetica, sans-serif;
  margin: 0;
}

.visual-holder {
  overflow: hidden;
  width: 880px;
  padding: 0 0 70px;
}
.visual-holder .v-holder {
  width: 920px;
  float: left;
  margin: 0;
  color: black;
}
.visual-holder .v-holder a {
  color: black;
}

.visual-col {
  float: left;
  width: 460px;
}
.visual-col h2 {
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 0 26px;
  letter-spacing: 0.1em;
}

.visual-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visual-list li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding: 0 17px 18px 0;
}
.visual-list .photo {
  margin: 0 0 7px;
  position: relative;
}
.visual-list .photo img {
  display: block;
}
.visual-list p {
  margin: 0;
}
.visual-list h3 {
  font-size: 12px;
  line-height: 16px;
  font: bold 12px/16px Arial, Helvetica, sans-serif;
  margin: 0;
}

.contact-box {
  overflow: hidden;
  padding: 80px 0 50px;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.contact-box .col {
  float: left;
  width: 380px;
  padding: 0 20px 0 0;
}
.contact-box .col.width-all {
  padding: 0 40px 0 0;
  width: auto;
  float: none;
}
.contact-box h1 {
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0 0 18px;
}
.contact-box h2 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-box .c-box {
  margin: 0 0 27px;
}
.contact-box .c-box p {
  margin: 0;
}
.contact-box .c-box p.text-size1 {
  font-size: 24px;
  line-height: 26px;
  padding: 8px 0 0;
}
.contact-box .c-box a {
  color: #d83b2a;
}
.contact-box .c-box.margin-bottom1 {
  margin: 0 0 72px;
}
.contact-box .c-box address {
  padding: 8px 0 0;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
}
.contact-box .c-box address strong {
  display: block;
}

.map-box {
  padding: 0 0 40px;
  overflow: hidden;
}
.map-box img {
  float: left;
}

.column1 {
  float: left;
  width: 640px;
  margin: 0 0 40px;
}

.column2 {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: 0 0 40px 40px;
}

.title-select {
  float: left;
  width: 99%;
  position: relative;
  margin: 0 0 20px;
}

.bill-list {
  margin: 0;
  padding: 0 0 6px;
  list-style: none;
  width: 112%;
  color: #282828;
}
.bill-list .title {
  display: block;
  font: 24px/24px "proxima_nova_rgbold", arial, sans-serif;
  text-transform: uppercase;
}
.bill-list > li {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 0 37px 70px 0;
}
.bill-list .heading {
  overflow: hidden;
  padding: 0 0 15px;
}
.bill-list .heading .description {
  overflow: hidden;
  padding: 0 0 5px;
}
.bill-list .logo-block {
  float: left;
  width: 122px;
}
.bill-list .logo-block img {
  float: left;
}
.bill-list .photo {
  margin: 0 0 20px;
}
.bill-list .photo img {
  display: block;
}
.bill-list p {
  margin: 0 0 17px;
}
.bill-list .social-network {
  float: none;
  width: 110%;
  overflow: hidden;
  margin: 0 0 35px;
}
.bill-list .btn-box {
  overflow: hidden;
}
.bill-list .wiki-links {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 40px;
  line-height: 18px;
  font-family: "proxima_nova_rgregular", arial, sans-serif;
}
.bill-list .wiki-links li {
  width: 100%;
}
.bill-list .wiki-links li + li {
  margin: 10px 0 0;
}
.bill-list .wiki-links a {
  color: black;
  display: block;
  text-align: center;
  border: 1px solid black;
}
.bill-list .btn {
  line-height: 50px;
}

.box.event-box.margin-bottom1 {
  margin: 0 0 1px;
}

.event-list {
  color: #282828;
  margin: 0;
  padding: 0;
  list-style: none;
}
.event-list li {
  padding: 0 0 30px;
}
.event-list .photo {
  margin: 0 0 7px;
}
.event-list .photo img {
  display: block;
}
.event-list .time {
  margin: 0;
}

.selectmenu.title-select {
  margin: 0 0 20px;
}

.box.poster-box.slide-poster.alt-padding {
  padding-bottom: 20px;
}
.box.poster-box.slide-poster.alt-padding .photo {
  margin: 0 0 20px;
}
.box.poster-box.slide-poster.alt-padding .title-text {
  margin: 0 0 5px;
}

.place-detail {
  overflow: hidden;
  padding: 0 0 31px;
  font-size: 14px;
  line-height: 20px;
}
.place-detail .place-map {
  float: left;
  margin: 0 30px 0 0;
}
.place-detail .place-map img {
  float: left;
}
.place-detail .description {
  overflow: hidden;
}
.place-detail .visual-col {
  float: right;
  width: 120px;
  padding: 4px 0 0 10px;
}
.place-detail .visual-col .v-photo {
  margin: 0 0 16px;
}
.place-detail .visual-col .v-photo img {
  display: block;
}
.place-detail .visual-col .star-title {
  font-size: 11px;
  line-height: 14px;
  display: block;
  margin: 0 0 4px;
}
.place-detail .title {
  display: block;
}
.place-detail p {
  margin: 0 0 19px;
}
.place-detail p.phone {
  margin: 0;
}
.place-detail .time-work {
  margin: 0 0 19px;
  overflow: hidden;
}
.place-detail .time-work dt {
  float: left;
}
.place-detail .time-work dd {
  overflow: hidden;
  margin: 0 0 0 3px;
}

.gallery4 {
  padding: 6px 0 24px;
}
.gallery4 .gmask {
  margin: 0 0 22px;
  padding: 0;
  list-style: none;
  position: relative;
}
.gallery4 .gmask li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.gallery4 .gmask li img {
  width: 100%;
  display: block;
}
.gallery4 .gmask li.active {
  display: block;
  position: relative;
  z-index: 3;
}
.gallery4 .pagination-box {
  margin: 0 auto;
  width: 140px;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
}
.gallery4 .pagination-box .number {
  display: inline-block;
  margin: 4px 0 0;
}
.gallery4 .pagination-box .separator {
  color: #d83b2a;
  margin: 0 5px;
}
.gallery4 .btn-prev,
.gallery4 .btn-next {
  float: left;
  width: 21px;
  height: 40px;
  background: url(../images/btn1.png) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.gallery4 .btn-next {
  float: right;
  background-position: -37px 0;
}

.blockquote-box {
  overflow: hidden;
  padding: 20px 0 11px;
  margin: 0;
}
.blockquote-box .col-visual {
  float: left;
  width: 150px;
  margin: 0 30px 0 0;
  font-size: 12px;
  line-height: 16px;
}
.blockquote-box .col-visual .position {
  display: block;
  color: #8b8b8b;
}
.blockquote-box .col-visual .name {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
}
.blockquote-box .b-photo {
  margin: 0 0 15px;
  overflow: hidden;
}
.blockquote-box .b-photo img {
  float: left;
  width: 100%;
}
.blockquote-box .description {
  overflow: hidden;
}
.blockquote-box .quote {
  background: url(../images/quote1.png) no-repeat;
  width: 40px;
  height: 31px;
  text-indent: -9999px;
  overflow: hidden;
  float: left;
  margin: 4px 11px 0 0;
}
.blockquote-box q {
  display: block;
  font-style: normal;
}
.blockquote-box q span {
  display: block;
  overflow: hidden;
  margin: 0 0 20px;
}

.meta-teg {
  font-size: 12px;
  line-height: 28px;
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
  overflow: hidden;
}

.meta-teg li {
  float: left;
  margin: 0 6px 5px 0;
}

.meta-teg a {
  float: left;
  color: #333;
  text-decoration: none;
  padding: 0 13px;
  border: 1px solid #999;
  border-radius: 14px;
}

.meta-teg a:hover {
  text-decoration: underline;
}

.box.width-all-content {
  width: auto;
}

.publication-list.no-border {
  margin: 0 0 -20px;
  padding: 0;
  position: relative;
}

.publication-list.no-border li + li,
.publication-list.no-border li {
  padding: 0 0 38px;
}

.publication-list.no-border:after {
  display: none;
}

.publication-list.width-all {
  width: 100%;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.margin-bottom40 {
  margin-bottom: 40px;
}

.twocolumns-holder.width-only-content {
  padding-right: 40px;
}

.only-small {
  position: absolute !important;
  left: -9999px;
}

.places-list {
  width: 910px;
  margin: 0 -50px 0 -20px;
  position: relative;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 12px;
  line-height: 14px;
}
.places-list li {
  display: inline-block;
  vertical-align: top;
  width: 425px;
  margin: 0 27px 30px 0;
}
.places-list .photo {
  overflow: hidden;
}
.places-list .photo a,
.places-list .photo img {
  float: left;
  width: 100%;
}
.places-list .content {
  padding: 0 20px;
}
.places-list .description {
  overflow: hidden;
  padding-top: 28px;
}
.places-list .title-name {
  overflow: hidden;
  margin: 0;
}
.places-list .title-name dt {
  float: left;
}
.places-list .title-name dd {
  float: left;
  margin: 0 0 0 3px;
}
.places-list address {
  margin: 0;
  font-style: normal;
}

.music-list-info {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 -34px;
  padding: 0;
  list-style: none;
  width: 321px;
  position: relative;
}
.music-list-info li {
  overflow: hidden;
  padding: 0 0 29px;
}
.music-list-info .photo {
  float: left;
  width: 141px;
  padding: 3px 0 0;
}
.music-list-info .photo img {
  float: left;
}
.music-list-info h2 {
  font: normal 14px/17px "proxima_nova_rgbold", arial, sans-serif;
  text-transform: uppercase;
  margin: 0 0 16px;
}
.music-list-info p {
  margin: 0 0 21px;
}
.music-list-info .description {
  overflow: hidden;
}

#footer {
  position: relative;
  z-index: 10;
  background: #161414;
  color: #efefef;
  height: 80px;
  margin: -80px 0 0;
  text-transform: uppercase;
}
#footer a {
  color: #efefef;
}
#footer .f-holder {
  margin: 0 auto;
  width: 1120px;
  padding: 20px 0 0;
}
#footer .copyright {
  float: left;
  margin: 0;
}
#footer .feedback-link {
  float: right;
}

.error-box {
  padding: 0 0 20px;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.error-box h1 {
  font-size: 50px;
  line-height: 45px;
  text-transform: uppercase;
  margin: 0 0 14px;
}
.error-box p {
  width: 390px;
  margin: 0 0 18px;
}
.error-box .e-holder {
  overflow: hidden;
  min-height: 247px;
}

.main-add-nav {
  margin: 0;
  padding: 0 0 25px;
  list-style: none;
}
.main-add-nav.alignright {
  float: right;
  margin: 0;
}
.main-add-nav li {
  padding: 0 0 6px;
}

.error-logo {
  padding: 0 0 10px;
}
.error-logo img {
  vertical-align: top;
}

.download-photo-btn {
  display: table;
  width: 160px;
  height: 160px;
  background: black;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  border-radius: 80px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: white;
  float: left;
}
.download-photo-btn strong {
  display: table-cell;
  vertical-align: middle;
}

.photo-container {
  height: 300px;
}

.photo-container.bg1 {
  background: url(../images/img19.jpg) no-repeat 50% 0;
}

.logo-box {
  float: left;
  width: 160px;
  height: 100px;
}

.logo-box .l-holder {
  display: table;
  height: 100%;
}

.logo-box .l-frame {
  display: table-cell;
  vertical-align: middle;
}

.logo-box img {
  float: left;
}

.big-hidden {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .big-hidden {
    display: block;
  }

  .event-box.width1 {
    display: none;
  }

  html,
  body {
    min-width: 930px;
  }

  .box.event-box,
  .ad1.alignleft {
    display: none;
  }

  .twocolumns .col1 {
    width: 105%;
    overflow: hidden;
  }
  .twocolumns .col1 .ad {
    float: left;
  }
  .twocolumns .col1 .box.style-box {
    float: left;
    width: 340px;
    margin: 0 0 40px 40px;
  }
  .twocolumns .col1 .box.style-box .photo img {
    height: 210px;
  }
  .twocolumns .col1 .box.style-box .title-text {
    margin-bottom: 7px;
  }
  .twocolumns .col1 .box.style-box h3 {
    overflow: hidden;
  }

  .box.bill-box.alignleft {
    float: left;
    margin: 0 0 40px;
    width: 640px;
  }

  .box.style-box {
    padding: 0 0 19px;
  }

  .box.alignleft.publication-box {
    float: left;
    width: 415px;
    margin: 0 -40px 40px 40px;
  }

  #content {
    float: left;
    width: 680px;
    overflow: hidden;
  }

  .box.music-box.small-size {
    width: 140px;
  }

  .music-list.alt-space1 > li {
    margin: 0 23px 33px 0;
  }

  .box.music-box {
    padding-bottom: 34px;
  }

  .bll-list {
    width: 110%;
  }
  .bll-list .b-hidden {
    display: inline-block;
  }
  .bll-list li {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    padding: 0 17px 40px 0;
  }

  .box.poster-box.alignleft {
    float: right;
    margin: 0 0 40px;
    width: 460px;
  }

  .music-list {
    margin: 0 0 -30px;
  }

  .small-width {
    display: block !important;
  }

  .big-width {
    display: none !important;
  }

  .publication-list {
    margin-right: -30px;
    margin-left: 0;
    padding-left: 0;
    border: none;
    position: relative;
    width: 100%;
  }
  .publication-list:after {
    display: none;
  }

  .w1 {
    width: 920px;
  }

  .navigation-panel .n-frame {
    width: 920px;
  }

  .music-holder {
    width: 180px;
    overflow: hidden;
    margin-left: 20px;
  }

  .music-holder.width1 {
    margin-left: 40px;
  }

  .publication-list.block-list li {
    width: 350px;
  }

  #footer .f-holder {
    width: 920px;
  }

  .twocolumns-holder.scroll-column {
    overflow: hidden;
  }

  .post.size1 {
    width: 440px;
  }

  .social-network li {
    padding: 0 18px 0 0;
  }

  .report-list {
    padding-bottom: 289px;
  }

  .photo-gallery li {
    margin-right: 40px;
  }

  .visual-holder {
    width: 680px;
  }

  .contact-box .col {
    width: 320px;
  }

  .box.chronicle-box.alignleft {
    margin-left: 0;
  }

  .twocolumns-holder.fixed-width {
    overflow: hidden;
  }

  .column1 {
    width: 680px;
  }

  .column2 {
    display: none;
  }

  .bill-list > li {
    margin-right: 77px;
  }

  .logo-box {
    width: 140px;
  }

  .twocolumns-holder.width-only-content {
    padding-right: 0;
  }

  .contact-box .col.width-all {
    padding: 0;
  }

  .blockquote-box .col-visual {
    width: 120px;
    padding: 5px 0 0;
  }

  .only-small {
    position: relative !important;
    left: 0;
  }

  .places-list {
    width: 660px;
    margin-right: 0;
    margin-bottom: -70px;
  }
  .places-list li {
    width: 100%;
    margin: 0 0 40px;
  }
  .places-list .photo {
    float: left;
  }
  .places-list .content {
    float: right;
    padding: 0;
    width: 140px;
  }
  .places-list .description {
    clear: both;
  }

  .music-list-info {
    width: 142px;
  }
  .music-list-info .photo {
    float: left;
    overflow: hidden;
    padding: 0 0 16px;
  }
  .music-list-info .description {
    clear: both;
  }
  .music-list-info .br {
    display: block;
  }
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.popup.size1 {
  color: white;
}
.popup.size1 .popup-box {
  padding: 0 0 20px;
  margin: 40px 0 0 !important;
  width: 880px;
}
.popup.color1 .popup-box {
  background: black;
}
.popup .bg {
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.popup .popup-box {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 420px;
  z-index: 101;
  padding: 40px;
  width: 340px;
  margin: -34px 0 0 !important;
  background: white;
}
.popup .popup-box .btn-close {
  font-size: 30px;
  line-height: 32px;
  color: white;
  position: absolute;
  top: -40px;
  right: 0;
  z-index: 102;
}
.popup.size2 .popup-box {
  width: 280px;
  padding: 37px 60px 58px;
}

.download-photo-box {
  float: left;
}

.download-photo {
  margin: 0 0 20px;
  position: relative;
  overflow: hidden;
  width: 340px;
  height: 340px;
}
.download-photo .d-holder {
  width: 100%;
  height: 100%;
  display: table;
}
.download-photo .d-frame {
  display: table-cell;
  vertical-align: middle;
}
.download-photo .mask {
  position: absolute;
  top: -172px;
  left: -172px;
  cursor: pointer;
  width: 680px;
  height: 680px;
  background: url(../images/mask1.png) no-repeat 50% 50%;
  text-indent: -9999px;
  overflow: hidden;
}
.download-photo img {
  display: block;
  width: 100%;
}

.enter-block {
  color: black;
  width: 100%;
}
.enter-block a {
  color: black;
}
.enter-block h2 {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 35px;
}
.enter-block .row {
  overflow: hidden;
  padding: 0 0 20px;
}

.article-form {
  padding: 0 0 30px;
}
.article-form input[type="password"],
.article-form input[type="text"] {
  float: left;
  width: 238px;
  height: 38px;
  float: left;
  border: 1px solid black;
  padding: 0 20px;
  margin: 0;
  background: none;
  font: 18px/38px "proxima_nova_rgbold", arial, sans-serif;
  color: black;
}
.article-form .check-label {
  float: left;
}
.article-form .check-label .text {
  float: left;
  padding: 13px 0 0;
}
.article-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.article-form .checkboxArea {
  content: '';
  width: 38px;
  height: 39px;
  float: left;
  border: 1px solid black;
  margin: 0 10px 0 0;
  background: url(../images/ico-yes1.png) no-repeat 0 -100px;
}
.article-form .checkboxArea.checkboxAreaChecked {
  background-position: 50% 50%;
}
.article-form .note {
  color: #9e9d9d;
  padding: 0 0 20px;
}

.remember-link {
  text-align: right;
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
  padding: 0 0 14px;
}

.new-account {
  text-align: center;
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
}

.info-registration {
  font-size: 9px;
  line-height: 12px;
  float: left;
  padding: 10px 0 0;
  text-transform: uppercase;
}

.registration-info-box {
  padding: 0 0 20px;
}
.registration-info-box p {
  color: #9e9d9d;
  margin: 0 0 17px;
}
.registration-info-box h3 {
  font-size: 9px;
  line-height: 12px;
  color: black;
  text-transform: uppercase;
  margin: 0;
}

/* castom form */
.selectmenu {
  float: left;
  height: 48px;
  background: black;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  position: relative;
}

.selectmenu.visual1 {
  float: right;
  background-color: #d83b2a;
  border-color: #d83b2a;
}

.selectmenu.width1 {
  width: 200px !important;
  float: none;
  display: inline-block;
}

.selectmenu.visual1.all-width {
  padding-right: 34px;
}

.selectmenu-menu.visual1 {
  background-color: #d83b2a;
  border-color: #d83b2a;
}

.selectmenu-menu.visual1.all-width {
  padding-right: 34px;
}
.selectmenu-menu.visual1.all-width ul {
  margin-right: -34px;
}

.selectmenu-status {
  text-decoration: none;
  float: left;
  padding: 0 10px;
  text-align: left;
  color: white;
  white-space: nowrap;
  font-size: 14px;
  line-height: 26px;
  font: 18px/48px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.selectmenu.size1 {
  height: 40px;
}
.selectmenu.size1 .selectmenu-status {
  font-size: 16px;
  line-height: 40px;
}
.selectmenu.size1 .selectmenu-icon {
  top: 17px;
}
.selectmenu.size1.active .selectmenu-icon {
  top: 15px;
}

.selectmenu-icon {
  position: absolute;
  top: 21px;
  right: 11px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  text-indent: -9999px;
  overflow: hidden;
}

.selectmenu.active .selectmenu-icon {
  border-bottom: 6px solid #fff;
  border-top: none;
  top: 17px;
}

.selectmenu-menu {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 1000;
  border: 1px solid black;
  background: black;
  overflow: auto;
}

.selectmenu-menu ul {
  list-style: none outside none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: none;
  position: relative;
  font: 18px/36px Arial, Helvetica, sans-serif;
  color: white;
}

.selectmenu-menu li {
  margin: 0;
  padding: 3px 10px;
  cursor: pointer;
}

.selectmenu-menu li:hover {
  color: black;
  background: white;
}

.selectmenu-menu.size1 ul {
  font-size: 16px;
  line-height: 30px;
}
