* +html #nav > ul {
	text-justify: newspaper;
	text-align-last: justify;
	zoom: 1;
}
* +html #nav > ul > li {
	display: inline;
	margin: 0;
	zoom: 1;
}
* +html .popup .bg {
	filter: alpha(opacity=50);
}